################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment03/.vs/*
/Assignment04/.vs/*
/Assignment04/Debug/*
/Assignment04/DirectoryManagementSystem/Debug/*
/Assignment04/DirectoryManagementSystem/x64/*
/Assignment04/x64/*